<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Serviço de Accrual</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/accrual.css' %}">
</head>
<body>
    <div class="login-box">
        <h1>Acesso ao sistema</h1>

        <form method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <div class="error-message">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <label for="{{ form.username.id_for_label }}">Usuário</label>
            {{ form.username }}

            <label for="{{ form.password.id_for_label }}">Senha</label>
            {{ form.password }}

            <button type="submit">Entrar</button>
			
            <p style="margin-top: 18px; text-align: center;">
                <a href="{% url 'solicitar_acesso' %}" class="back-link" style="display:inline;">
                    Solicitar acesso
                </a>
            </p>

        </form>
    </div>
</body>
</html>